# created by virtualenv automatically
*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Ignore virtual environments
venv/
ENV/
env/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables file
.env

# Migrations
*/migrations/

# Static files
staticfiles/

# Media files
media/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
